.layout {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.content {
  padding: 0 50px;
  margin-top: 64px;
  position: relative;
  flex: 1; 
}

.image-container {
  width: 100vw; 
  height: calc(100vh - 200px); 
  overflow: hidden; 
  position: absolute; 
  top: 80px; 
  left: 0; 
}

.image-container img {
  width: 100%; 
  height: auto; 
}

.big-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.small-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.button-container {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-button {
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #1890ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.primary-button span {
  display: inline-block; 
}


.primary-button:hover {
  background-color: #40a9ff;
}






