.layout {
  min-height: 100vh;
}

.header {
  background-color: #333;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.content {
  padding: 0 50px;
  margin-top: 64px; 
}

.footer {
  text-align: center;
  background-color: #001529;
  color: white;
  padding: 24px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sider {
  background: #fff;
}

.sider .ant-menu-inline {
  height: 100%;
  border-right: 1px solid #f0f0f0;
}

.sider .ant-menu-item-selected {
  background-color: #f0f0f0;
}

.menu {
  float: right;
}

.menu .ant-menu-item {
  margin-left: 10px;
}

.menu .ant-menu-item:hover {
  background-color: transparent;
  border-bottom: 2px solid #1890ff;
}

.menu .ant-menu-item-selected {
  background-color: transparent;
  border-bottom: 2px solid #1890ff;
}

.menu .ant-menu-item-icon {
  margin-right: 8px;
}

.home-Button {
  position: absolute;
  top: 20px;
  right: 120px;
}

.login-Button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.mypage-button {
  position: absolute;
  top: 20px;
  right: calc(50% + 60px);
}

.recommend-button {
  position: absolute;
  top: 20px;
  left: calc(50% + 55px);
}


.image-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%; 
}

.image-container img {
  width: 100%;
  height: auto;
}


.image-container button {
  background-color: #1890ff; 
  color: #fff; 
  border: 1px solid #1890ff;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  margin-top: -10px;
  display: flex; /* 버튼 내부 요소들을 수직 중앙으로 정렬하기 위해 flexbox 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.image-container button:hover {
  background-color: #40a9ff; 
  border-color: #40a9ff; 
}






